.dockerignore
requirements.txt
# Ignore Terraform files
*.tfstate
*.tfstate.backup
.terraform/
# *.tfvars
# .gitattributes
.terraform.lock.hcl -text
*.exe
*.terraform.lock.hcl

# Maven specific
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Eclipse specific
.classpath
.project
.settings/

# IntelliJ IDEA specific
.idea/
*.iml
*.iws
*.ipr

# NetBeans specific
nbproject/private/
build/

# macOS specific
.DS_Store

# Logs
*.log
logs/

# Temporary files
*~

# Package files
*.jar
*.war
*.ear
